<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VistaRail - Ticket Confirmation</title>
    <link rel="stylesheet" href="../public/components/style.css">
    <style>
        :root {
            --background: #183D3D;
            --text: #DDE6ED;
            --accent: #93B1A6;
        }

        main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
            margin: 0;
        }

        .ticket {
            background-color: var(--text);
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 80%;
            max-width: 600px;
        }

        .ticket-title {
            text-align: center;
            margin-bottom: 20px;
        }

        .ticket-title h1 {
            color: var(--background);
        }

        .ticket-details {
            display: flex;
            flex-direction: column;
        }

        .detail-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .detail-item span {
            flex: 1;
            text-align: left;
        }

        .detail-item span:first-child {
            margin-right: 10px;
            font-weight: bold;
            color: var(--background);
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <a href="/"><span class="website-name">VistaRail</span></a>
            </div>
            <div class="navbar-right">
                <ul>
                    <li class="dropdown">
                        <a href="" class="dropbtn">Booking</a>
                        <div class="dropdown-content">
                            <a href="/">Book Ticket</a>
                            <a href="/findBooking">Check PNR</a>
                            <a href="/bookedTickets">Booking History</a>
                        </div>
                    </li>
                    <li><a href="/trainBetweenStations">Train Between Stations</a></li>
                    <li><a href="/checkBerth">Check Berth</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="ticket">
            <div class="ticket-title">
                <h1>Ticket Booked Successfully...</h1>
            </div>
            <div class="ticket-details">
                    <div class="detail-item">
                        <span>PNR:</span>
                        <span>
                            <%= finalDetails.PNRNumber %>
                        </span>
                    </div>
                    <div class="detail-item">
                        <span>Train No:</span>
                        <span>
                            <%= finalDetails.TrainNumber %>
                        </span>
                    </div>
                    <div class="detail-item">
                        <span>Train Name:</span>
                        <span>
                            <%= finalDetails.TrainName %>
                        </span>
                    </div>
                    <div class="detail-item">
                        <span>Class:</span>
                        <span>
                            <%= finalDetails.Class %>
                        </span>
                    </div>
                    <div class="detail-item">
                        <span>Coach:</span>
                        <span>
                            <%= finalDetails.Coach %>
                        </span>
                    </div>
                    <div class="detail-item">
                        <span>Seat No:</span>
                        <span>
                            <%= finalDetails.SeatNumber %>
                        </span>
                    </div>
                    <div class="detail-item">
                        <span>Journey Date:</span>
                        <span>
                            <%= finalDetails.DateOfJourney %>
                        </span>
                    </div>
                    <div class="detail-item">
                        <span>Origin:</span>
                        <span>
                            <%= finalDetails.Origin %>
                        </span>
                    </div>
                    <div class="detail-item">
                        <span>Departure Time:</span>
                        <span>
                            <%= finalDetails.Departure %>
                        </span>
                    </div>
                    <div class="detail-item">
                        <span>Destination:</span>
                        <span>
                            <%= finalDetails.Destination %>
                        </span>
                    </div>
                    <div class="detail-item">
                        <span>Arrival Time:</span>
                        <span>
                            <%= finalDetails.Arrival %>
                        </span>
                    </div>
                    <div class="detail-item">
                        <span>No. of Passengers:</span>
                        <span>
                            1
                        </span>
                    </div>
                    <div class="detail-item">
                        <span>Total Fare:</span>
                        <span>
                            ₹<%= finalDetails.Fare %>
                        </span>
                    </div>
            </div>
        </div>
    </main>
</body>

</html>