<!DOCTYPE html>
<html>

<head>
    <title>VistaRail - Train Between Stations</title>
    <link rel="stylesheet" href="../public/components/style.css">
    <style>
        :root {
            --background: #183D3D;
            --text: #DDE6ED;
            --accent: #93B1A6;
        }

        h1 {
            color: var(--background);
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: var(--accent);

        }

        th,
        td {
            padding: 8px;
            text-align: left;
        }

        thead {
            background-color: var(--background);
            color: var(--accent);
        }

        tbody tr:nth-child(even) {
            background-color: var(--text);
        }

        .bold {
            opacity: 1;
        }

        .low-opacity {
            opacity: 0.4;
        }
    </style>
</head>

<body> 
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <a href="/"><span class="website-name">VistaRail</span></a>
            </div>
            <div class="navbar-right">
                <ul>
                    <li class="dropdown">
                        <a href="" class="dropbtn">Booking</a>
                        <div class="dropdown-content">
                            <a href="/">Book Ticket</a>
                            <a href="/findBooking">Check PNR</a>
                            <a href="/bookedTickets">Booking History</a>
                        </div>
                    </li>
                    <li><a href="/trainBetweenStations">Train Between Stations</a></li>
                    <li><a href="/checkBerth">Check Berth</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <h1>Available Trains</h1>
        <table>
            <thead>
                <tr>
                    <th>Train Number</th>
                    <th>Train Name</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Days</th>
                </tr>
            </thead>
            <tbody>
                <% trainData.forEach(train=> { %>
                    <tr>
                        <td>
                            <%= train.TRAIN_NO %>
                        </td>
                        <td>
                            <%= train.TRAIN_NAME %>
                        </td>
                        <td>
                            <%= train.ORIGIN %>
                        </td>
                        <td>
                            <%= train.DESTINATION %>
                        </td>
                        <td>
                            <%= train.DEPARTURE_TIME %>
                        </td>
                        <td>
                            <%= train.ARRIVAL_TIME %>
                        </td>
                        <td>
                            <% let days=['MONDAY', 'TUESDAY' , 'WEDNESDAY' , 'THURSDAY' , 'FRIDAY' , 'SATURDAY'
                                , 'SUNDAY' ]; %>
                                <% for (let i=0; i < days.length; i++) { %>
                                    <% if (train[days[i]]===1) { %>
                                        <span class="bold">
                                            <%= days[i].charAt(0) %>
                                        </span>
                                        <% } else { %>
                                            <span class="low-opacity">
                                                <%= days[i].charAt(0) %>
                                            </span>
                                            <% } %>
                                                <% } %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </main>
</body>

</html>